.clear {
	clear: both;
}
.nobr {
	white-space: nowrap;
}
/**
 * Objects
 */
.edit,
.delete,
.failed,
.info {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	padding: 0 !important;
	height: 2em !important;
	width: 2em;
}
.edit:after,
.delete:after,
.failed:after,
.info:after {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\e001";
	line-height: 1.85;
}
.edit:after {
	content: "\e603";
}
.search {
	background-color: transparent;
}
.search:before {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 7px;
	content: "\e024";
}
.previous {
	background-color: transparent;
}
.previous:before {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-right: 7px;
	content: "\e02f";
}
.delete:after {
	content: "\e013";
}
.failed:after {
	content: "\e016";
}
.info:after {
	content: "\e016";
}
.plus {
	background-color: transparent;
}
.plus:before {
	font-family: 'WooCommerce';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-left: 7px;
	content: "\e007";
}
.filter_label {
	display: inline-block;
	width: 115px;
}
.vmiddle {
	vertical-align: middle;
}
#sendsms_buttons {
	padding-bottom: 12px;
}
#sendsms_data .sendsms_data_column {
	width: 100%;
	padding: 0 2% 0 0;
	float: left;
}
#sendsms_data .sendsms_data_column .form-field .date-picker-field {
	width: 20%;
}
#sendsms_data_hour .hour,
#sendsms_data_minute .minute {
	width: 2.5em;
}
#sendsms_data,
#sendsms_message,
#block_infos,
#sendsms_choose_recipient,
#sendsms_recipient {
	padding: 23px 24px 12px;
}
#block_infos label {
	width: 45%;
}
#block_infos label + div {
	padding-top: 3px;
	float: right;
	width: 50%;
}
#block_infos #balance {
	font-weight: bold;
	color: red;
}
#post-body.columns-2 #postbox-container-1 {
	float: left;
	width: 360px;
}
#poststuff .postbox-container {
	float: left;
	margin-right: 10px;
	max-width: 500px;
	width: 71%;
}
.postbox {
	max-width: 1000px;
}
.ows {
	/* float: left; */
	border: 1px solid #e5e5e5;
	/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
	padding:10px;
	margin-bottom: 10px;
	/*
	width: 100%;
	 */
}
.doc {
	margin-top: 20px;
}
.header {
	width: 70%;
	float: left;
}
.sms {
	border: 1px solid #e5e5e5;
	/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04); */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
}
#Octopush_Sms_Send_Tab .wrap h2 span.dashicons {
	line-height: 30px;
}
#Octopush_Sms_Send_Tab .wrap h2 span.dashicons {
	line-height: 28px;
}

.text_td {width:25%;vertical-align:top}
th.text_td{vertical-align: middle}
.data_td {width:50%}
.message_textarea {width:90%;}
/*.os_row{width: 100%; display: table;}
*/

table.messages_data{max-width:1024px;width:100%}
